body {
 background-color: white;
};

.header {

};
    .title {
        color: white;
        background-color: darkblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 36px;
    };
    .opener {
        color: darkblue;
    };

.timer {
    color: darkblue;
};

.question-answer {  

};
    .question-div {
        color: darkblue;
    };
    .answer-div{
        color: darkblue;
    };

.score {

};
    .score-div {

    };
    .initials {

    };
    .submitt-button {

    };

.high-score {

};

.start-button {

};